<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Palma - Projects</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
</head>

<body>
    <header>
        <h1>Lucas Palma</h1>
        <nav>
            <ul>
                <li><a href="/">Introduction</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/references">References</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="content projects-section">
            <div class="project-card" id="project1-card">
                <h3>Automation of<br>Auditing Emails</h3>
                <img class="project-img" src="/images/vba_emails.png" alt="VBA Project Image">
                <p>This project involved sending auditing emails to external law firms. Braskem has several law firms representing different types of lawsuits, each with a different email structure and template. The process was executed by different members of the organization, taking 4 to 5 hours to complete. I created a panel with 6 different buttons (each representing a cycle of the auditing process) and successfully sent all emails in 10 seconds. This project resulted in 95% efficiency and 100% accuracy.</p>
            </div>
        
            <div class="project-card" id="project2-card">
                <h3>Node.js Application for Hospitals</h3>
                <img class="project-img" src="/images/node.js_logo.png" alt="Web Development Project Image">
                <p>This project is a Node JS web application for managing a hospital database. This application had a linked database (MongoDB), user authentication, three different access profiles, and CRUD functionality. The application was developed using GItHub for version control and collaboration.<br><b>Click on the image above to access the Web Application. OBS: Use the following login and password to signin using admin mode!<br>Login:<br>Password:</b></p>
            </div>
        
            <div class="project-card" id="project3-card">
                <h3>Power BI Dashboards</h3>
                <img class="project-img" src="/images/powerbiDashboards.png" alt="Power BI Dashboard Image">
                <p>While working at Braskem S.A. in the Legal Efficiency department, I developed Power BI dashboards to track KPIs related to legal operations. These dashboards provided real-time insights into the company's current and past scenarios. By connecting it to a SharePoint database, I enabled the department to efficiently monitor and analyze their status. This project significantly improved decision-making processes and the department's effectiveness.</p>
            </div>
        
            <div class="project-card" id="project4-card">
                <h3>Housing Prediction +<br>Convolutional Neural Networks</h3>
                <a href="https://github.com/palmaz9/AI_class" target="_blank">
                    <img class="project-img" src="/images/cnn.jpeg" alt="Housing Prediction Image">
                </a>
                <p>In my AI class, I worked on projects using TensorFlow and Keras. The first project involved building a deep learning model for predicting housing prices using the California Housing dataset. I utilized scikit-learn for data preprocessing and developed a neural network, improving the model with Adam optimizer and evaluating it using Mean Squared Error. The second project was an image classification model using a Convolutional Neural Network (CNN) to classify images from the CIFAR-10 dataset. The model consisted on convolutional layers, batch normalization, and dropout for regularization. I improved its performance with data augmentation and learning rate scheduling.<br><b>Click on the image above to access the projects!</b></p>
            </div>
        
            <div class="project-card" id="project5-card">
                <h3>Chess Engine Paper</h3>
                <!-- Link to PDF file for download -->
                <a href="/downloads/chess_engine_paper.pdf" download="how_to_build_a_chess_engine.pdf">
                    <img class="project-img" src="/images/chessEngineProject.png" alt="Chess Engine Image">
                </a>
                <p>Because I became a chess enthusiast during my Information Technology Master's program, I build a guide on how to create a chess engine. This guide consists on simple required steps in order to build your own chess engine. It focused on creating the basic components of a chess engine, such as representing the chessboard, generating possible moves, and evaluating different positions on the board. I choose algorithms like Minimax with alpha-beta pruning to help the engine decide the best moves by simulating different scenarios and outcomes. Throughout this project, I gained a deeper understanding of how artificial intelligence can be applied to the chess world.<br><b> Click on the image above to download my paper. Have fun!</b></p>
            </div>
        </section>        
    </main>

    <footer>
        <div class="social-media">
            <a href="https://linkedin.com/in/lpalma1999" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/palmaz9" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <p>&copy; 2024 Lucas Palma. All rights reserved.</p>
    </footer>

    <script>
        $(document).ready(function () {
            $('.project-card').each(function (index) {
                $(this).delay(index * 200).queue(function () {
                    $(this).addClass('visible').dequeue();
                });
            });
        });
    </script>
</body>

</html>
