<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lucas Palma</h1>
        <nav>
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/references">References</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>References</h2>
        <ul>
            <li>Ashley Wadell, Pittsburg State University Director of First Year Programs</li>
            <li>Jesse Briscoe, Pittsburg State University Assistant Director of First Year Programs</li>
            <li>Wei Sha, Pittsburg State University SQL Professor</li>
            <li>Derrel Fincher, Pittsburg State University MST Program Coordinator</li>
        </ul>
    </section>
    <footer>
        <p>LinkedIn: <a href="https://linkedin.com/in/lpalma1999">lpalma1999</a></p>
        <p>GitHub: <a href="https://github.com/palmaz9">palmaz9</a></p>
    </footer>
</body>
</html>
