body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

header {
    background: linear-gradient(135deg, #1a237e, #283593);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffca28;
}

.hero {
    background: linear-gradient(135deg, #3949ab, #5c6bc0);
    color: white;
    text-align: center;
    padding: 115px 0 60px; /* Reduced top and bottom padding */
    margin-top: 100px; /* Align with the header height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    max-width: 1519px; /* Maintain the maximum width of the hero section */
    margin: 0 auto; /* Center the hero section horizontally */
    position: relative;
}

.hero-content {
    max-width: 1350px; /* Set a max-width for the text */
    margin: 0 auto; /* Center the text container */
    padding: 0 20px; /* Add padding for text content */
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero p {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 300;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
}

.employment-history,
.skills-section,
.education-section,
.languages-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.employment-history h3,
.skills-section h3,
.education-section h3,
.languages-section h3 {
    margin-top: 0;
    color: #1a237e;
    font-size: 1.8rem;
}

.employment-cards,
.skills-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.experience-card,
.skills-card {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px; /* Ensures that each card maintains a minimum width */
    margin: 10px 0;
}

.experience-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.institution-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
}

.skills-card h4 {
    color: #283593;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-card ul {
    list-style: disc;
    padding-left: 20px;
}

.skills-card ul li {
    margin-bottom: 5px;
}

.education-cards,
.languages-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px; /* Add space between section header and cards */
}

.education-box,
.languages-box {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content */
    flex: 1;
    min-width: 250px; /* Ensures each box maintains a minimum width */
    max-width: 45%; /* Maximum width to allow two items per row */
}

.education-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.languages-box img {
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 1px;
}

.education-box p,
.languages-box p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: #1a237e;
    color: #fff;
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 10px 0 0;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ffca28;
}

@media screen and (max-width: 768px) {
    .employment-cards,
    .skills-cards,
    .education-cards,
    .languages-cards {
        flex-direction: column;
    }

    .experience-card,
    .skills-card,
    .education-box,
    .languages-box {
        min-width: 100%;
    }
}
